################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Gestion git nuit de l'info/Gestion git nuit de l'info.csproj
/Gestion git nuit de l'info.sln
/Gestion git nuit de l'info/obj
/.vs/Gestion git nuit de l'info/v15/Server/sqlite3
/NUitDeLInfo2020/obj
/NUitDeLInfo2020/Gestion git nuit de l'info.csproj
/.vs/Gestion git nuit de l'info/v15/.suo
/.vs/Gestion git nuit de l'info/DesignTimeBuild
