################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Gestion git nuit de l'info/Gestion git nuit de l'info.csproj
