.title {
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

.crop {
    width: 600px;
    height: 450px;
    overflow: hidden;
}

.crop img {
    width: 1200px;
    height: 900px;
    margin: -75px 0 0 -100px;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-desc {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.description {
    font-size: 25px;
    word-wrap: break-word;
}

.notes {
    display: flex;
    flex-direction: column;
}

.moy-note {
    font-weight: bold;
    font-size: 45px;
}
.text-note {
    font-weight: bold;
    font-size: 30px;
}

