/* Classes */

.search-content {
    background: #2ECED1;
    height: 200px;
    margin-top: 100px;
}



.card {
    border: 1px;
}

.mybtn {
    background-color:  #D1312E; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 10px     0      0   10px;
    margin-right: 3px;
}

.myinput {
    border: none; /* Remove borders */
    width: 100%;
    border-radius: 0     10px      10px   0;
}


.text {
    color: white;
    margin-left: 40px;
}

.text-1 {
    font-size: 50px;
    font-weight: bold;
}

.text-2 {
    font-size: 25px;
}

.inline {
    height: 25%;
    margin-left: 40px;
}

.all-width {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.half-width {
    width: 50%;
}

.img-container {
    position: relative;
    height: 100%;
}

.img-container img {
    position: absolute;
    top: -60px;
    height: 150%;
}
