.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    background: #2ECED1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    justify-content: space-between;
}

.logo {
    height: 90px;
    margin : 10px 0px 0px 10px;
}

.title {
    height: 110px;
    margin : 0px 0px 0px 0px;
}

.container-title {
    display: flex;
    justify-content: center;
}

.entry-text {
    font-size: 22px;
}

.big-title {
    height: 400px;
}

.connect-text {
    font-size: 25px;
}


.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: darkblue;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.content {
    min-height: calc(100vh - 70px);
}

.connected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.Stars {
    --star-color: #fff;
    --star-background: #fc0;
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;

     letter-spacing: 3px;
     background: linear-gradient(90deg, var(--star-background) var(--percent), grey var(--percent));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

